
body{
  background-color:rgba(0, 0, 255, 0.1);
  padding:1rem;
}
.container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  grid-template-rows: repeat(6,1fr);
  font:bold 1.5rem Helvetica Arial sans-serif;
  
}
.caption,.temp,.weather_state,.pressure,.wind_speed,.pressure,.nearest_station{
  grid-column-start:1;
  
  line-height: 3.5rem;
  
}
.nearest_station{
  font-size: 1rem;
}
.weather_state img{
  width: 2rem;
  vertical-align: middle;
}

.caption{
 
  min-height: 5rem; 
  background-size: contain;
  background-repeat: no-repeat;
}